{% extends 'empresa/base.html' %}
{% load static %}
{% load meus_filtros %}

{% block header %}
  {% include 'empresa/includes/header.html' with titulo='treinaWeb' descricao='Há mais de 12 anos formando desenvolvedores de ponta! São mais de 4.000 horas de conteúdo, com formações  completas e com foco no mercado de trabalho. ' %}
{% endblock header %}

{% block conteudo %}
    <div class="row">
      {% for curso_id, curso in cursos_home.items %}
      <div class="col-md-4 mb-5">
        <div class="card h-100">
          <img class="card-img-top" src="https://placehold.it/300x200" alt="">
          <div class="card-body">

            {% comment %}
              {% if curso.titulo == 'Django Fundamentos' %}
              Alem desse modo, podemos utilizar o ifequal no exemplo abaixo
              Existe também o ifnotequal (!=)
            {% endcomment %}

            {% ifequal curso.titulo 'Django Fundamentos' %}
              <h2 class="card-title">{{ curso.titulo }}</h2>
            {% else %}
              <h4 class="card-title">{{ curso_id }} - {{ curso.titulo }}</h4>
            {% endifequal %}
            <p class="card-text">{{ curso.descricao }}</p>
          </div>
          <div class="card-footer">
            <a href="#" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>
      {% empty %}
        <h3>Novos cursos serão lançados em breve!</h3>
      {% endfor %}
    </div>
    <!-- /.row -->
{% endblock conteudo %}